html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.alex {
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
}

.faceLeft {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.clickCrazy {
    background-color: #ff0817;
    animation-name: color;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {
        background-color: red;
    }
    100% {
        background-color: #883100;
    }
}